<%= paginate results %>

<table class="table" id="listing_filtered_users" data-hook>
  <thead>
    <tr data-hook="admin_filterd_users_headers">
      <th> First Name </th>
      <th> Last Name </th>
      <th> Email </th>
      <th> Current Address </th>
      <th> Contact Number </th>
    </tr>
  </thead>
  <tbody>
  <% results.each do |result| %>
    <tr data-hook="admin_filtered_users_rows">
      <td> <%= result.firstname %> </td>
      <td> <%= result.lastname %> </td>
      <td> <%= result.email %> </td>
      <td> <%= result.full_address %> </td>
      <td> <%= result.phone %> </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate results %>
