<%# render file: 'spree/admin/customer_segmentation/index_page_fe_backup' %>

<div class="filters_area" data-name="filters_area">
  <!-- ADD ALL FILTERS HERE -->

  <!-- For animated button:: remove only-row, add span class 'add_filter_text' -->
  <div class="filter_row only-row" data-name="filter_button">
    <div class="filter_column filter_column4">
      <a href="#" class="btn btn-block btn-shadow btn-default add_filter_button" data-toggle="modal" data-target="#filter_modal"><i class="glyphicon glyphicon-plus p-r-0"></i><span data-name="filter_button_text"> &nbsp; Add filter </span></a>
    </div>
  </div>
</div>

<!-- Modal -->
<%= render partial: 'modal' %>

<%= form_tag admin_customer_segmentation_index_path, method: :get do %>
  <div>
    <%= submit_tag :search %>
  </div>

  <hr />

  <% if @results.present? %>
    <%= render partial: 'users', locals: { results: @results } %>
  <% else %>
    <div class="alert alert-info no-objects-found">
      <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::User)) %>
    </div>
  <% end %>

<% end %>


<!-- Filter structure hidden -->
<div class="hidden">
  <%= render partial: 'filter_template' %>
  <%= render partial: 'value_options' %>
</div>
