<div>
  FOR TEST PURPOSES
  <br />
  <%= link_to 'First Name', '#', data: { name: 'filter', metric: 'user_firstname', text: 'First Name' }, class: 'btn btn-sm btn-primary' %>
  <%= link_to 'Last Name', '#', data: { name: 'filter', metric: 'user_lastname', text: 'Last Name' }, class: 'btn btn-sm btn-primary' %>
  <%= link_to 'Email', '#', data: { name: 'filter', metric: 'user_email', text: 'Email' }, class: 'btn btn-sm btn-primary' %>
  <%= link_to 'Contact Number', '#', data: { name: 'filter', metric: 'user_contact_number', text: 'Contact Number' }, class: 'btn btn-sm btn-primary' %>
  <%= link_to 'Days From Registration', '#', data: { name: 'filter', metric: 'user_days_from_registration', text: 'Days From Registration' }, class: 'btn btn-sm btn-primary' %>

  <%= link_to 'Revenue', '#', data: { name: 'filter', metric: 'order_revenue', text: 'Revenue' }, class: 'btn btn-sm btn-primary' %>
  <%= link_to 'Days From First Order', '#', data: { name: 'filter', metric: 'days_from_first_order', text: 'Days From First Order' }, class: 'btn btn-sm btn-primary' %>
  <%= link_to 'Days From Last Order', '#', data: { name: 'filter', metric: 'days_from_last_order', text: 'Days From Last Order' }, class: 'btn btn-sm btn-primary' %>
  <%= link_to 'Total Quantity', '#', data: { name: 'filter', metric: 'order_quantity_total', text: 'Order Total Quantity' }, class: 'btn btn-sm btn-primary' %>
  <%= link_to 'Total Number Of Orders', '#', data: { name: 'filter', metric: 'total_number_of_order', text: 'Total Number Of Orders' }, class: 'btn btn-sm btn-primary' %>
  <%= link_to 'Quantity Average', '#', data: { name: 'filter', metric: 'order_quantity_average', text: 'Order Total Average' }, class: 'btn btn-sm btn-primary' %>
  <%= link_to 'Order Frequency', '#', data: { name: 'filter', metric: 'order_frequency', text: 'Order Frequency' }, class: 'btn btn-sm btn-primary' %>

  <%= link_to 'Number Of Items In Cart', '#', data: { name: 'filter', metric: 'cart_number_of_items', text: 'Number Of Items in Cart' }, class: 'btn btn-sm btn-primary' %>
  <%= link_to 'Days From Cart Created', '#', data: { name: 'filter', metric: 'cart_days_from_cart_created', text: 'Days From Cart Created' }, class: 'btn btn-sm btn-primary' %>

</div>
<hr />
<hr />

<%= form_tag admin_customer_segmentation_index_path, method: :get do %>
  <div class="row" data-hook="filters">
  </div>

  <div>
    <div>
      <%= submit_tag :search %>
    </div>
  </div>

  <hr />

  <div data-hook="users_list"></div>

  <% if @results.present? %>
    <%= render partial: 'users', locals: { results: @results } %>
  <% else %>
    <div class="alert alert-info no-objects-found">
      <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::User)) %>
    </div>
  <% end %>

  <!-- pass all options as a hash -->
  <span data-name="filter_operator_list" data-value="<%= Spree::CustomerSegmentation::FILTERS.to_json %>"> </span>

  <div class="hidden">

    <div data-name="filter-row">
      <div class="col-md-3" data-hook="metric">
        <span data-name="metric-value"></span>
      </div>

      <div class="col-md-3" data-hook="operator">
      </div>

      <div class="col-md-3" data-hook="value">
      </div>
    </div>

  </div>

<% end %>
