<!-- Modal -->
<%= render partial: 'modal' %>

<%= form_tag admin_customer_segmentation_index_path, method: :get do %>
  <div class="filters_area" data-name="filters_area">
    <!-- ADD ALL FILTERS HERE -->

    <!-- For animated button:: remove only-row, add span class 'add_filter_text' -->
    <div class="filter_row only-row" data-name="filter_button">
      <div class="filter_column filter_column4">
        <a href="#" class="btn btn-block btn-shadow btn-default add_filter_button" data-toggle="modal" data-target="#filter_modal"><i class="glyphicon glyphicon-plus p-r-0"></i><span data-name="filter_button_text"> &nbsp; Add filter </span></a>
      </div>
    </div>
  </div>

  <div>
    <%= submit_tag 'Search', class: 'btn btn-info btn-sm' %>
  </div>

<% end %>

<hr />

<% if @results.present? %>
  <%= render partial: 'users', locals: { results: @results } %>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::User)) %>
  </div>
<% end %>

<!-- pass all options as a hash -->
<span data-name="filter_operator_list" data-value="<%= Spree::CustomerSegmentation::FILTERS_MAPPER.to_json %>"> </span>

<span data-name="applied_filters" data-value="<%= @search_params.to_json %>"> </span>

<!-- Filter structure hidden -->
<div class="hidden">
  <%= render partial: 'filter_template' %>
  <%= render partial: 'value_options' %>
</div>

<%= render partial: "spree/admin/variants/autocomplete", formats: [:js] %>

<div>
  <u>Note:</u>
  <p>
    1. Orders based filters work for only those users who have placed an order. [ equals to 0 is treated a special case. ]
  </p>
  <p>
    2. We search through all the addresses, but only show the current address.
  </p>
</div>
