<%= paginate results %>

<table class="table" id="listing_filtered_users" data-hook>
  <thead>
    <tr data-hook="admin_filterd_users_headers">
      <th> First Name </th>
      <th> Last Name </th>
      <th> Email </th>
      <th> Billing Address </th>
      <th> Contact Number </th>
      <% @dynamic_columns.each do |column| %>
        <th> <%= column.values.first %> </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% results.each do |result| %>
    <tr data-hook="admin_filtered_users_rows">
      <td> <%= display_data(result.firstname) %> </td>
      <td> <%= display_data(result.lastname) %> </td>
      <td> <%= link_to result.email, edit_admin_user_path(result.id), target: :_blank %> </td>
      <td> <%= display_data(result.full_bill_address) %> </td>
      <td> <%= display_data(result.phone) %> </td>
      <% @dynamic_columns.each do |column| %>
        <td> <%= display_data(result.try(column.keys.first)) %> </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate results %>
