<!-- Modal -->
<%= render partial: 'modal' %>

<%= form_tag filter_admin_customer_segments_path, method: :get, data: { name: 'filter_form' }, name: 'filter_form' do %>
  <%= render partial: 'form' %>
<% end %>

<div>
  <%= link_to '#', data: { toggle: 'modal', target: '#save_segment_modal', name: 'save_segment' } do %>
    <span class="btn btn-shadow btn-info glyphicon glyphicon-floppy-disk"> <%= Spree.t(:save) %> </span>
  <% end %>

  <%= link_to csv_segment_filter_route(request.query_string) do %>
    <span class="btn btn-shadow btn-info glyphicon glyphicon-export"> <%= Spree.t(:export) %> </span>
  <% end %>
</div>

<%= render partial: 'save_segment_modal' %>
<%= render partial: 'user_data' %>
