<!-- Modal -->
<%= render partial: 'modal' %>

<%= form_tag filter_admin_customer_segments_path, method: :get, data: { name: 'filter_form' }, name: 'filter_form' do %>
  <div class="filters_area" data-name="filters_area">
    <!-- ADD ALL FILTERS HERE -->

    <!-- For animated button:: remove only-row, add span class 'add_filter_text' -->
    <div class="filter_row only-row" data-name="filter_button">
      <div class="filter_column filter_column4">
        <a href="#" class="btn btn-block btn-shadow btn-default add_filter_button" data-toggle="modal" data-target="#filter_modal"><i class="glyphicon glyphicon-plus p-r-0"></i><span data-name="filter_button_text"> &nbsp; Add filter </span></a>
      </div>
      <div>
        <%= button_tag type: 'submit', class: 'btn btn-info btn-shadow', data: { name: 'search_button' } do %>
          <span class="icon icon-search"></span> Search
        <% end %>
      </div>
    </div>
  </div>

<% end %>

<div>
  <%= link_to '#', data: { toggle: 'modal', target: '#save_segment_modal', name: 'save_segment' } do %>
    <span class="btn btn-shadow btn-info glyphicon glyphicon-floppy-disk"> <%= Spree.t(:save) %> </span>
  <% end %>
</div>

<%= render partial: 'save_segment_modal' %>

<% if @results.present? %>
  <%= render partial: 'users', locals: { results: @results } %>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::User)) %>
  </div>
<% end %>

<!-- pass all options as a hash -->
<span data-name="filter_operator_list" data-value="<%= Spree::CustomerSegmentation::FILTERS_MAPPER.to_json %>"> </span>

<span data-name="applied_filters" data-value="<%= @search_params.to_json %>"> </span>

<!-- Filter structure hidden -->
<div class="hidden">
  <%= render partial: 'filter_template' %>
  <%= render partial: 'value_options' %>
</div>

<%= render partial: "spree/admin/variants/autocomplete", formats: [:js] %>

<div>
  <u>Note:</u>
  <p>
    1. Orders based filters work for only those users who have placed an order. [ equals to 0 is treated a special case. ]
  </p>
</div>
