<div>
  <h3><%= Spree.t(:my_segments) %></h3>
  <% if @customer_segments.empty? %>
    <div class="alert alert-info no-objects-found">
      <%= Spree.t(:you_have_not_saved_any_segments_yet) %>
    </div>
  <% else %>
    <table class="table table-striped" width="100%">
      <thead>
      <tr>
        <th><%= Spree.t(:segment_name) %></th>
        <th><%= Spree.t(:created_by) %></th>
        <th class="text-right"></th>
        <th class="text-right"></th>
      </tr>
      </thead>
      <tbody>
      <% @customer_segments.each do |segment| %>
        <tr class="<%= cycle('even', 'odd') %>">
          <td><%= segment.name.capitalize %></td>
          <td><%= segment.user.email %></td>
          <td><%= link_to Spree.t(:view_segment), admin_customer_segment_path(segment.id), class: 'btn btn-success', target: :_blank %>
          <td><%= link_to Spree.t(:delete), admin_customer_segment_path(segment.id), method: :delete, class: 'btn btn-danger' %>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>
