<!-- Modal -->
<%= render partial: 'modal' %>

<%= form_tag admin_customer_segment_path(@customer_segment.id), method: :patch, data: { name: 'filter_form' }, name: 'filter_form' do %>
  <%= render partial: 'form' %>
<% end %>

<div>
  <%= link_to csv_segment_route(@customer_segment.id) do %>
    <span class="btn btn-shadow btn-info glyphicon glyphicon-export"> <%= Spree.t(:export) %> </span>
  <% end %>
</div>

<%= render partial: 'save_segment_modal' %>
<%= render partial: 'user_data' %>
