<!-- Modal -->
<%= render partial: 'modal' %>

<%= form_tag admin_customer_segment_path(@customer_segment.id), method: :patch, data: { name: 'filter_form' }, name: 'filter_form' do %>
  <div class="filters_area" data-name="filters_area">
    <!-- ADD ALL FILTERS HERE -->

    <!-- For animated button:: remove only-row, add span class 'add_filter_text' -->
    <div class="filter_row only-row" data-name="filter_button">
      <div class="filter_column filter_column4">
        <a href="#" class="btn btn-block btn-shadow btn-default add_filter_button" data-toggle="modal" data-target="#filter_modal"><i class="glyphicon glyphicon-plus p-r-0"></i><span data-name="filter_button_text"> &nbsp; Add filter </span></a>
      </div>
      <div>
        <%= button_tag type: 'submit', class: 'btn btn-info btn-shadow', data: { name: 'search_button' } do %>
          <span class="icon icon-search"></span> <%= Spree.t(:update_segment) %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>

<div>
  <%= link_to csv_segment_route(@customer_segment.id) do %>
    <span class="btn btn-shadow btn-info glyphicon glyphicon-export"> <%= Spree.t(:export) %> </span>
  <% end %>
</div>

<%= render partial: 'save_segment_modal' %>
<%= render partial: 'user_data' %>
